.venv
**/__pycache__
**/*.pyc
.pytest_cache
.ruff_cache
.mypy_cache
node_modules
.git
.gitignore
.env
.env.*
!.env.example
*.md
!README.md
htmlcov
.coverage*
dist
build
*.egg-info
.DS_Store
/terminals
